.container {
  width: calc(100% - 32px);
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-16 {
  gap: 16px;
}

.p-2 {
  padding: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}